wifi_ssid: "some-ssid"
wifi_password: "password"

# hotspot (captive portal) password
ap_password: "appassword"

# Home Assistant API password
ha_api_password: "apipassword"

ota_password: "otapassword"
